<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test">
        <parameter name="BrowserName" value="chrome"/>
        <parameter name="BrowserVersion" value="latest"/>
        <parameter name="Platform" value="mac"/>
        <classes>
            <class name="login">
                <methods>
                    <include name="valid_login_Test"/>
                    <include name="logout_Test"/>
                    <include name="invalid_login_Test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>